@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.sidebar-link {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}
.sidebar-link li {
  list-style: none;
  width: 80%;
  margin: auto;
  padding: 10px 10px;
  background-color: rgb(168, 229, 204);
  border-radius: 10px;
  cursor: pointer;
  margin: 5px auto;
  /* font-size: 18px; */
  font-weight: 400;
}
.sidebar-link li.active {
  color: blue;
}
